{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class ="table table-stripped"> <!-- Sjekke denne i bootstrap-->
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Action</th>
            <th>Amount</th>
        </tr>
        </thead>

        <tbody>
        {% for row in history %}
            <tr>
                <td>{{ row.symbol_lookup.symbol }}</td>
                <td>{{ row.symbol_lookup.price }}</td>
                <td>{{ row.shares }}</td>
                <td>{{ row.sell_buy }}</td>
                <td>{{ row.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
