{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/sell" method="post" id=symbol_form>
        <label for="symbol_dropdown">Ticker:</label class="form-control mx-auto w-auto">
        <select name="symbol" id="symbol_dropdown" form="symbol_form" class="form-control mx-auto w-auto">
            {% for row in rows %}
            <option value="{{ row['ticker'] }}">{{ row['ticker'] }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>


{% endblock %}
